@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark;
}
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* @import "tailwindcss";
@plugin "daisyui" {
  theme: false;
}
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] ));
@custom-variant dark (&:where(.dark, .dark)); */
